body{
    background-color: lightblue;
}

.green {
    background-color: green;
    height: 100px;
}
.blue{
    background-color: blue;
    height: 200px;
    width: 49%;
    display: inline-block;

}
.yellow{
    background-color: yellow;
    height: 200px;
    width: 49%;
    display: inline-block;
}